<%- include('partials/header') %>
    
    <main id="login-form">
        <form action="">
            <H1>Log In</H1>
            <input type="email" name="email" id="" placeholder="Email">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="submit" value="Log In">
            <p>Don't have an account? <a href="/signup">Create Account</a></p>
        </form>
    </main>

<%- include('partials/footer') %>